{% extends "base.html" %}
{% load static %}
{% block title %}
    Changez votre mot de passe
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/passwordchange.css' %}">
{% endblock %}

{% block content %}
<div class="comptes">
    <div class="passwordchange__form__title">
        <h1>Changez votre mot de passe</h1>
    </div>
    <div class="passwordchange__form">
        <form action="" method="POST">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <p class="error-message">{{ error|escape }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            
            <div class="submit-container">
                <input type="submit" value="Changer">
            </div>
        </form>
    </div>
</div>
{% endblock %}
