{% extends "base.html" %}

{% block title %}
    Modifier votre mot de passe
{% endblock %}

{% block content %}
    <h1>Modifier votre mot de passe</h1>
    {% if validlink %}
            <p>Veuillez entrer le nouveau mot de passe:</p>
            <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Changer mon mot de passe" /></p>
            </form>
    {% else %}
            <p>lien de modification du mot de passe invalide, peut-etre par ce qu'il a deja été utilisé. veuiller faire une requete pour un nouveau mot de passe</p>
    {% endif %}
{% endblock %}
